<div class="select__wrapper" id="language-list">
    <div class="language__item active">
        Language
    </div>

    <div class="language__items">
        <div class="language__item">
            <a href="/"><img src="/images/english-flag.svg" width="10" height="10" alt="English flag ">English</a>
        </div>
        <div class="language__item">
            <a href="/fr"><img src="/images/french-flag.svg" width="10" height="10" alt="French flag ">Français</a>
        </div>
    </div>
</div>