<section class="pt-12 bg-white sm:pt-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
            <p class="mt-5 text-4xl font-bold leading-tight text-gray-900 sm:leading-tight sm:text-5xl lg:text-6xl lg:leading-tight font-pj">
                Bienvenue chez
                <br>   {{getCompanyName()}}
            </p>
            <h1 class="px-6 text-lg text-gray-600 font-inter">Studios de
                développement de site web et d'applications mobiles</h1>
<!--            <div class="px-8 sm:items-center sm:justify-center sm:px-0 sm:space-x-5 sm:flex mt-9">-->
<!--                <a-->
<!--                        class="inline-flex items-center justify-center w-full px-6 py-3 mt-4 text-lg font-bold text-gray-900 transition-all duration-200 border-2 border-gray-400 sm:w-auto sm:mt-0 rounded-xl font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:bg-gray-900 focus:bg-gray-900 hover:text-white focus:text-white hover:border-gray-900 focus:border-gray-900"-->
<!--                        href="#"-->
<!--                        role="button"-->
<!--                        title=""-->
<!--                >-->
<!--                    Nos réalisations-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!--<div class="bg-white py-24 sm:py-32">-->
<!--    <div class="mx-auto max-w-7xl px-6 lg:px-8">-->
<!--        <div class="mx-auto max-w-2xl divide-gray-100 lg:mx-0 lg:max-w-none">-->
<!--            <div class="grid grid-cols-1 gap-y-10 gap-x-8 lg:grid-cols-3">-->
<!--                <div>-->
<!--                    <h2 class="text-3xl font-bold tracking-tight text-gray-900">-->
<!--                        Contact</h2>-->
<!--                    <p class="mt-4 leading-7 text-gray-600">Un petit coucou, une proposition de mission, de contrat ? C'est ici.</p>-->
<!--                </div>-->
<!--                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">-->
<!--                    <div class="rounded-2xl bg-gray-50 p-10">-->
<!--                        <h3 class="text-base font-semibold leading-7 text-gray-900">-->
<!--                            Proposition de missions</h3>-->
<!--                        <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">-->
<!--                            <div>-->
<!--                                <dt class="sr-only">Email</dt>-->
<!--                                <dd><a class="font-semibold text-indigo-600"-->
<!--                                       href="mailto:info@atomstudios.fr">info@atomstudios.fr</a>-->
<!--                                </dd>-->
<!--                            </div>-->
<!--                        </dl>-->
<!--                    </div>-->
<!--                    <div class="rounded-2xl bg-gray-50 p-10">-->
<!--                        <h3 class="text-base font-semibold leading-7 text-gray-900">-->
<!--                            Rejoindre nos équipes</h3>-->
<!--                        <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">-->
<!--                            <div>-->
<!--                                <dt class="sr-only">Email</dt>-->
<!--                                <dd><a class="font-semibold text-indigo-600"-->
<!--                                       href="mailto:careers@atomstudios.fr">careers@atomstudios.fr</a>-->
<!--                                </dd>-->
<!--                            </div>-->
<!--                        </dl>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="grid grid-cols-1 gap-y-10 gap-x-8 pt-16 lg:grid-cols-3">-->
<!--                <div>-->
<!--                    <h2 class="text-3xl font-bold tracking-tight text-gray-900">-->
<!--                        Locaux</h2>-->
<!--                    <p class="mt-4 leading-7 text-gray-600">Pour nous trouver plus facilement.</p>-->
<!--                </div>-->
<!--                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">-->
<!--                    <div class="rounded-2xl bg-gray-50 p-10">-->
<!--                        <h3 class="text-base font-semibold leading-7 text-gray-900">-->
<!--                            Studios</h3>-->
<!--                        <address-->
<!--                                class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">-->
<!--                            <p>35 Rue Joseph Bara</p>-->
<!--                            <p>37700 Saint-Pierre-Des-Corps</p>-->
<!--                        </address>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

