<header class="py-4 md:py-6">
    <div class="container px-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
            <div class="flex-shrink-0">
                <a class="flex rounded outline-none focus:ring-1 focus:ring-gray-900 focus:ring-offset-2"
                   href="#"
                   title="">
                    <img alt="" class="w-auto h-8"
                         src="../../assets/atom-logo.svg"/>
                </a>
            </div>
            <div class="hidden lg:flex lg:ml-16 lg:items-center lg:justify-center lg:space-x-10 xl:space-x-16">
                <a class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
                   routerLink=""
                   title="Accueil">
                    Accueil</a>
                <a class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
                   routerLink="/offer"
                   title="Nos offres">
                    Nos offres </a>
                <a class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
                   routerLink="/realisations"
                   title="Nos réalisations">
                    Nos réalisations</a>

                <a class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
                   routerLink="/how-we-work"
                   title="">
                    Notre approche </a>

            </div>

            <div class="hidden lg:ml-auto lg:flex lg:items-center lg:space-x-10">
                <!--                <a class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"-->
                <!--                   routerLink="/join-us"-->
                <!--                   title="">-->
                <!--                    Nous rejoindre </a>-->
            </div>
        </div>
    </div>
</header>
