.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 0px 0px 0px 0px;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: $primary;
        margin: 0px 10px 0px 10px;
        &:hover {
          color: $secondary;
          border-bottom-color: $secondary;
        }
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $secondary;
          transition: width .3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          border-bottom: 2px solid $primary;
          &:hover {
            border-bottom: 2px solid $secondary;
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
          &:after{
            transition: none;
          }
          &:hover:after{
            width:0;
          }
        }
      }
    }
  }
}
